trunk/sample-schema/src/main/resources/META-INF/xsd/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ws.sample.com/calculator" xmlns:calc="http://ws.sample.com/calculator"
	elementFormDefault="qualified">

	<!-- <xs:include schemaLocation="reference.xsd" /> -->

	<xs:element name="calculatorService">
		<xs:complexType>
			<xs:group ref="calc:Add" />
		</xs:complexType>
	</xs:element>

	<xs:group name="Add">
		<xs:sequence>
			<xs:element ref="calc:AddRequest" />
			<xs:element ref="calc:AddResponse" />
		</xs:sequence>
	</xs:group>

	<xs:element name="AddRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="calc:number1" />
				<xs:element ref="calc:number2" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="AddResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="calc:number1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="number1" type="xs:integer" />
	<xs:element name="number2" type="xs:integer" />
</xs:schema>
